img {
    height: 4rem;
}

.header{
    justify-content: center;
    height: 10%;
    background-color: #b19cd9;
}

span{
    display: flex;
    align-items: center;

}

h1{
    padding-left: 1.2rem;
}