form {
    width: 60%;
    margin: 2rem auto 0 auto;
    text-align: center;

}

.data-finalizada {
    text-align: right;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(41, 41, 41);
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;

}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}