.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(41, 41, 41);
    margin-bottom: 2.3rem;
}

.content {
    width: 100%;

}

.badge button {
    margin-top: 1.5rem;
    width: 100%;
}

p {
    text-align: end;
    font-weight: 600;
    color: rgb(41, 41, 41);
    padding-bottom: 0;
}

mat-card {
    margin-top: .8rem;
    padding: .2rem;
}