<div class="container">
    <h1 >Tasks Finalizadas</h1>
  <div class="badge">
    <button (click)="voltar()" class="mat-elevation-z8" mat-raised-button color="primary">Voltar</button>
  </div>

  <div class="content" *ngFor="let item of listFinished">
    <mat-card class="mat-elevation-z8">
      <p>Data para finalizar: {{ item.dataParaFinalizar }}</p>
      <mat-card-header>
        <mat-card-title>{{ item.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ item.descricao }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
